<div id="post-page">
  <h2>The Intel Galileo</h2>
<br>
<p>  The Intel Galileo a small programmable computer that we
  can use to make all kinds of clever interactive gadgets
  and gizmos. It is not a computer like the laptops we have
  on our desks, because rather than having only one set of
  inputs and outputs (the keyboard and mouse, and the
  monitor), it has literally dozens, all of which we can
  program .
</p>

<p>
<img src="./img/galileo/InAndOut_Pins.png" alt="Intel Galileo" style="width: 600px;" />
</p>

<p>
  The Galileo uses any one of its 19 sockets (we usually call
  them ‘pins’, because of the shape of the wires we use to
  connect to them), to interface with a huge number of
  sensors and switches for input, or outputs like lights and
  motors - basically any other piece of technology that uses
  electricity. 
</p>

<p>
  The Galileo is based on the
  popular <a href="http://arduino.cc">Arduino</a>
  microcomputer platfrom, and is completely compatible with
  the Arduino UNO. However, it packs a load of extra
  features, such as in-built networking, wifi, usb, and a
  full linux-based operating system.
</p>

Although it’s inputs and outputs are different from other computers, just like them we can program it. In fact with an Arduino, this is absolutely essential! Without instructions telling it how to deal with inputs, what calculations to make with data, and what to do with its outputs, it’s really nothing more than a pretty blue piece of metal and plastic. 
</div>
