<div id="post-page">
  <h2>The Intel Galileo</h2>
<br>
<p>  The Intel Galileo is a small programmable computer that we
  can use to make all kinds of clever interactive gadgets
  and gizmos. It is not a computer like the laptops we have
  on our desks, because rather than having only one set of
  inputs and outputs (the keyboard and mouse, and the
  monitor), it has literally dozens, all of which we can
  program to read and control all manner of electrical
  gadgets. 
</p>

<p>
<img src="./img/galileo/InAndOut_Pins.png" alt="Intel Galileo" style="width: 600px;" />
</p>

<p>
  The Galileo is based on the
  popular <a href="http://arduino.cc">Arduino</a>
  microcomputer platfrom, and is completely compatible with
  the Arduino UNO. However, it packs a load of extra
  features, such as in-built networking, wifi, usb, and a
  full linux-based operating system. These extra features
  allow us to connect to and program the galileo as if it
  were a regular web server.
</p>

<p>
  Today we're going to be exploring the many different ways
  we can interact with the Galileo, using physical
  interfaces such as knobs, buttons and light-detectors, and
  **virtually** wiring them to outputs using the web-based
  <a href="https://github.com/IntelOpenDesign/ConnectAnyThing">Connect
  Anything</a> interface. 
</p>


<img src="./img/galileo/connectAnything.jpg" alt="Connect Anything" style="width: 600px;" />

<p>
  You can access the Connect Anything interface by
  connecting to the Galileo's wifi (it acts as an access
  point), and going to <a href="http://cat.com">cat.com</a>
  (if you're not connected to the Galileo's wifi, all you'll
  see is the website for Caterpillar!). It allows you to
  route any of the inputs of the Galileo to any of its
  outputs using a simple touch interface!
</p>

<p>
  The links below give you a run-down of the inputs and
  outputs connected to the Galileos in front of you. Have a
  read and a play, and let's make some sound, light and
  motion!
</p>

</div>
